.container{
    margin-bottom: 75px;
}
.orange-bg{
   background-color: #fceae8;
   border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px; 
}
.pric{
    color:#ff136f;
}
 .buy-now-button{
background-color: #ff136f;
   color: #fff;
   border: none;
   border-radius: 8px;
   padding: 8px 20px;
   cursor: pointer;
} 
.cat1{
background-color:orange ;
padding: 10px 30px;
border-radius: 15px;
}
.cat2{
background-color:orchid ;
padding: 10px 30px;
border-radius: 15px;
}
.cat3{
background-color: blue;
padding: 10px 30px;
border-radius: 15px;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgrey
}
.card-footer{
    background-color: white;
    border-top: none;
}
#subscript{
    height: 300px;
}
#subscript h6{
    color: gray;
}
footer{
    text-align: center;
}